@media (min-width: 800px){
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 253, 253);
    text-align: center;
    font-style: italic;
  }

  header {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 120px;
    width: 500px;
    margin: auto;
    background: url(images/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3px;
  }

  #start {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 15vw;
    width: 400px;
    margin: auto 10% 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  #start-quiz {
    color: white;
    font-size: large;
    background-color: blue;
    border-radius: 10px;
    margin: auto 0 10% 10% 10%;
  }

  #start-quiz:hover {
    background-color: green;
  }

  #quiz {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: ;
    width: 400px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  #feedback {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 20vw;
    width: 400px;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }



  .score {
    object-position: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 5vw;
    width: 100%;
    margin: auto  0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
  }

  .progress {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 5vw;
    width: 100%;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
  }

  #choices {
    border-radius: 10px;
    border: 2px solid white;
    font-size: large;
  }


  img {
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  #next {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
  }

  #next:hover {
    background-color: green;
  }

  fieldset {
    text-align: left;
  }

  input[type=submit] {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 255);
  }

  input[type=submit]:hover {
    background-color: green;
  }

  #summary {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 20vw;
    width: 50vw;
    margin: 20px 0 10px 65px;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  #restart {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    background-color: blue;
  }

  #restart:hover {
    background-color: green;
  }
}

@media (max-width: 799px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 253, 253);
    text-align: center;
    font-style: italic;
  }

  header {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 120px;
    width: 75vw;
    margin: auto 0 10% 10% 10%;
    background: url(images/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3px;
  }

  #start {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 40vw;
    width: 50vw;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  #start-quiz {
    color: white;
    font-size: large;
    background-color: blue;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
  }

  #start-quiz:hover {
    background-color: green;
  }

  #quiz {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 60vw;
    width: 70vw;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }



  .score {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 5vw;
    width: 20vw;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  .progress {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 5vw;
    width: 30vw;
    margin: auto 0 10% 10% 10%;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  #choices {
    border-radius: 10px;
    border: 2px solid white;
    font-size: large;
  }



  img {
    border-radius: 10px;
    border: 2px solid black;
  }

  #next {
    color: rgb(255, 255, 255);
    background-color:black;
    border-radius: 10px;
  }

  

  #next:hover {
    background-color: green;
  }

  fieldset {
    text-align: left;
  }

  input[type=submit] {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 255);
  }

  input[type=submit]:hover {
    background-color: green;
  }

  #summary {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px #00000088;
    text-align: center;
    height: 20vw;
    width: 50vw;
    margin: 20px 0 10px 65px;
    background-color: rgb(0, 0, 0);
    padding: 3px;
  }

  #restart {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
  }

  #restart:hover {
    background-color: green;
  }
}